:root {
    /* typography */
    --global-root-font-size: 16;

    /* colors */
    --global-color-primary: #26ade4;
    --global-color-secondary: #6C757D;
    --global-color-success: #28A745;
    /* --global-color-danger: #DC3545; */
    --global-color-warning: #FFC107;
    --global-color-info: #17A2B8;
    --global-color-light: #F8F9FA;
    --global-color-dark: #343A40;
    --global-color-white: #fff;
    --global-color-black: #000;

    /* spacing */
    --global-spacing-xxs: 0.25rem;
    --global-spacing-xs: 0.5rem;
    --global-spacing-sm: 1rem;
    --global-spacing-md: 1.5rem;
    --global-spacing-lg: 2rem;
    --global-spacing-xl: 3rem;
    --global-spacing-xxl: 4rem;
    --global-spacing-xxxl: 6rem;
    --global-spacing-xxxxl: 8rem;
    --global-spacing-xxxxxl: 12rem;
    --global-spacing-xxxxxxl: 16rem;
    --global-spacing-xxxxxxxl: 24rem;

    /* border radius */
    --global-border-radius-xxs: 0.125rem;
    --global-border-radius-xs: 0.25rem;
    --global-border-radius-sm: 0.5rem;
    --global-border-radius-md: 1rem;
    --global-border-radius-lg: 2rem;

    /* border width */
    --global-border-width-xxs: 0.0625rem;
    --global-border-width-xs: 0.125rem;
    --global-border-width-sm: 0.25rem;
    --global-border-width-md: 0.5rem;
    --global-border-width-lg: 1rem;
    --global-border-width-xl: 2rem;



    /* font size */
    --global-font-size-xxs: 0.625rem;
    --global-font-size-xs: 0.75rem;
    --global-font-size-sm: 0.875rem;
    --global-font-size-md: 1rem;
    --global-font-size-lg: 1.25rem;
    --global-font-size-xl: 2rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f5f7;
}


header {
    background-color: var(--global-color-primary);
    color: var(--global-color-white);
    padding: var(--global-font-size-sm);
    text-align: center;
    /* make the 2 bottom corners rounded */
    border-bottom-left-radius: var(--global-border-radius-md);
    border-bottom-right-radius: var(--global-border-radius-md);
}

main {
    padding: var(--global-spacing-md);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: var(--global-spacing-sm);
}

.a-footer {
    text-decoration: none;

    color: var(--global-color-white);
}

.article:active {
    color: var(--global-color-primary);
}


.article {
    margin-bottom: var(--global-spacing-md);
    border: 1px solid #ccc;
    padding: var(--global-spacing-lg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: border-color 0.3s ease;
    text-decoration: none;
    border-radius: var(--global-border-radius-sm);
    background-color: var(--global-color-white);
}

.article a {
    text-decoration: none;
    /* Remove hyperlink underline */
    color: inherit;
    /* Inherit the color from the parent element */
}

.article h2 {
    margin: 0;
    color: var(--global-color-black);
}

.article p {
    margin: 1rem 0;
    color: var(--global-color-secondary);
}

.article img {
    max-width: 100%;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.article:hover {
    border-color: var(--global-color-primary);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

footer {
    background-color: var(--global-color-primary);
    color: var(--global-color-white);
    text-align: center;
    padding: 10px;
    border-top-left-radius: var(--global-border-radius-sm);
    border-top-right-radius: var(--global-border-radius-sm);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.colored-svg {
    fill: var(--global-color-white);
}




/* nav {
    margin: auto;
    margin-top: 40px;
    position: relative;
    width: clamp(320px, 50vw, 100%);
} */

/* Styles for the combined label and select */
.select-label {
    font-size: var(--global-border-radius-md);
    border-radius: var(--global-border-radius-md);
    position: relative;
    /* background: var(--global-color-info); */
    height: 40px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: var(--global-color-light);
    font-weight: 200;
    display: flex;
    flex: 1;
    justify-content: left;
    align-items: center;
    /* box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35); */
    transition: all 0.4s;
    position: relative;
}

.custom-select {
    /* A reset of styles, including removing the default dropdown arrow */
    appearance: none;
    /* Additional resets for further consistency */
    /* put text in the middle */
    text-align-last: center;
    /* background-color: transparent; */
    border: none;
    border-radius: var(--global-border-radius-xs);
    /* padding: 0 1em 0 0; */
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    position: relative;
}


.h-logo {
    display: flex;
    align-items: center;
}

.h-logotext {
    margin-left: 1rem;
    font-size: var(--global-font-size-xl);
}

/* label {
    font-size: 1.5rem;
    border-radius: var(--global-border-radius-md);
    position: relative;
    background: var(--global-color-info);
    height: 40px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: inherit;
    font-weight: 200;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
    transition: all 0.4s;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
} */

/* nav:hover h2 {
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35);
    transition: all 0.4s;
} */

#toggle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    height: 40px;
}

h2::before {
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
    aspect-ratio: 1;
    background: currentColor;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    content: "";
    clip-path: polygon(50% 25%, 20% 80%, 80% 80%);
    transform: rotate(180deg) scale(0.75);
}

#toggle:not(:checked)~h2::before {
    transform: rotate(0deg) scale(0.75);
}

#toggle:focus~h2 {
    background: var(--global-color-info);
    transition: background 0.45s;
}

#toggle:checked~ul {
    visibility: visible;
    opacity: 1;
}

#toggle:not(:checked)~ul {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    /* Disable pointer events for hidden dropdown */
}

/* Updated CSS to hide the dropdown by default */
#toggle:not(:checked)~nav ul {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

nav ul {
    padding-left: 0;
    padding-top: 1rem;
    margin-top: 0;
    /* background: var(--global-color-black); */
    /* opacity: 0.01; */
    list-style: none;
    overflow: hidden;
    text-align: right;
    text-align: center;
    transition: all 0.4s ease-out;
    width: 100%;
    position: absolute;
}

nav ul li button {
    border-radius: var(--global-border-radius-md);
    position: relative;
    display: inline-block;
    line-height: 1.5;
    width: 100%;
    margin: 0 0 0.25rem 0;
    background: var(--global-color-white);
    transition: background 3s;
    box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.35);
}

nav ul li button:hover,
nav ul li a button:focus {
    background: mediumorchid;
    transition: background 0.45s;
}

nav ul a {
    display: block;
    color: inherit;
    text-transform: lowercase;
    font-weight: 200;
    text-decoration: none;
}

.container {
    max-width: 55ch;
    margin: auto;
    color: #36454F;
    /*all corners are rounded*/
    border-radius: 10px;
}


/* Like button */
.c-like {
    position: absolute;
    top: 0;
    right: 1rem;

}


.c-like__symbol {
    position: relative;
    width: 24px;
    fill: var(--global-color-secondary);
    transform: scale(1);
    transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 2.275);
    will-change: transform;
}

.c-like__input:checked+.c-like__label .c-like__symbol {
    transform: scale(1.1);
    fill: #D80027;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.o-section {
    position: relative;
}